# Dependencies
/node_modules
/client/node_modules
/server/node_modules

# Production build folders
/build
/dist

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
# ไฟล์นี้มีรหัสผ่านฐานข้อมูล ห้ามส่งขึ้นไปเด็ดขาด!
.env
/server/.env

# IDEs and editor files
.vscode/
