@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    /* ใช้สี bg-main จาก tailwind config เป็นพื้นหลังหลัก */
    @apply bg-bg-main text-text-primary antialiased;
    font-family: 'Sarabun', sans-serif;
  }
}

/* Custom scrollbar utilities */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
